
// colors
$magenta-color: #e32a62;
$kiwi-color: #c8c10d;
$darkGray-color: #7a6666;

$icon-path: "/Content/images/icons.png";

$magenta:   #E32A62;
$kiwi:      #C8C10D;
$black:     #000000;
$white:     #FFFFFF;
$gray:      #EAE7E8;

$darkGray:  #7A6666;

$color-primary:          $magenta;
$color-accent:           $kiwi;
$color-text:             $darkGray;
$color-text--inverted:   $white;
$color-background:       $white;
$color-background--gray: $gray;
