<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="IceCreamBlogDB"
         providerName="System.Data.SqlClient"
         connectionString="Server=DESKTOP-ALE4VCJ\SQLEXPRESS1;Database=IceCreamBlogDB_DEV;Trusted_Connection=True;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
