<h1 class="text--white">About</h1>
<div class="about__flier" style="background-color: #ebebed;">
    <img class="faded faded-left faded-right" src="/Content/images/bg-header-about.jpg" />
</div>
<div>
    <div class="about">
        <aside>
            <h2>Be Part of Our Community</h2>
            <p>
                Thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little.
            </p>
        </aside>

        <main class="about__content">
            <h2>Too small, lay peacefully between</h2>
            <p>Its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine.</p>
            <p>And housed in a nice, gilded frame. It showed a lady fitted <a href="#">out with a fur hat and fur boa who</a> sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned.</p>
            <h2>To look out the window at the dull weather. Drops.</h2>
            <p>Of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all <a href="#">this nonsense</a>", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself.</p>
            <h2>Onto his right</h2>
            <div>He always rolled.</div>
            <div>Back to where he was.</div>
            <p>He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before. "Oh, God", he thought, "what a strenuous career it is that I've chosen! Travelling day in and day out. Doing business like this.</p>
            <p>Takes much more effort than doing your own business at home, and on top of that there's the curse of.</p>
        </main>
    </div>
</div>
