@{
    ViewBag.Title = "Home Page";
}

<main class="body">
    <header class="flier">
        <div class="flier__picture">
            <img src="~/Content/images/bg-home.jpg" alt="" />
            <a href="#">FREEZE DELIGHT</a>
        </div>
    </header>
    <article class="body__article">
        <div>
            <div class="body__article__text-content">
                <h3>NEW PRODUCT</h3>
                <h2>The Twist Of Healthy Yoghurt</h2>
                <p>
                    That would be the best thing for me. If I didn't have my parents to think about I'd have given in my notice a long time ago, I'd have gone up to the boss and told him just what I think, tell him everything I would.
                </p>
            </div>
            <img src="~/Content/images/yogurt.jpg" alt="" />
        </div>
    </article>
</main>
<div class="home__footer">
    <div class="body">
        <ul>
            <li>
                <a class="product" href="#"></a>
                <h3 class="text--white">Products</h3>
            </li>
            <li>
                <a class="about" href="#"></a>
                <h3 class="text--white">Our Story</h3>
            </li>
            <li>
                <a class="flavour" href="#"></a>
                <h3 class="text--white">Flavours</h3>
            </li>
            <li>
                <a class="contact" href="#"></a>
                <h3 class="text--white">Our Location</h3>
            </li>
        </ul>
    </div>
</div>